.card {
  margin-top: 10rem;
}

.card-item {
  text-align: center;
  background: linear-gradient(to right, #342f49, #3a3456);
  min-height: 510px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 40px;
  padding: 0 20px;
  margin-top: 2rem;
  img {
    border-radius: 50%;
    margin-bottom: 20px;
    border: 1rem solid #0e0e0e34;
  }

  h2 {
    font-size: 2.4rem;
    font-weight:bold;
    width: 16rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #fff;
  }

  p {
    text-align: justify;
    max-width: 250px;
    margin-top: 2.2rem;
  }
}