body {
  background-color: #302c42;
}

.header {
  height: 13.3rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-around;

  .nav-link,
  .nav-button {
    @include device("m") {
      display: none;
    }
    @include device("s") {
      display: none;
    }
  }
}

.menu-mobile {
  display: none;
  position: absolute;
  right: 0;

  @include device("m") {
    display: block;
    margin-right: 1rem;
  }
  @include device("s") {
    display: block;
    margin-right: 1rem;
  }
}

.logo {
  max-width: 20rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-right: 10rem;
  cursor: pointer;

  @include device("m") {
    position: absolute;
    left: 0;
    margin-left: 1rem;
    margin-right: 0rem;
  }
  @include device("s") {
    position: absolute;
    left: 0;
    margin-left: 1rem;
    margin-right: 0rem;
  }
}

.logo-img {
  margin-right: 1.5rem;
  width: 9rem;
}

//#######

.nav-link {
  display: flex;
  gap: 3rem;
}

.nav-link p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

//####

.nav-button {
  display: flex;
  gap: 1rem;
}

.button {
  width: 15.4rem;
  height: 4.8rem;
  border-radius: 4rem;
  border: none;
  font-weight: bold;
  color: #343045;
  cursor: pointer;
  background-image: linear-gradient(to right, #8176af, #c0b7e8);
}

.btn-contact {
  background-image: none;
  background-color: transparent !important;
  border: 0.2rem solid #fff;
  color: #fff;
}
